* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #0a0a0a;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body .main {
  margin-bottom: 1rem;
}
